body {
  background: url("./asset/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.input {
  padding: 2rem;
  width: 75%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 25px;
  font-size: 24px;
  background-color: rgb(249, 214, 162);
}

.input:focus {
  outline: none;
}
.weatherDataContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 3rem;
  border-radius: 25px;
  background-color: rgb(249, 214, 162);
}
.city {
  font-size: 30px;
  font-weight: bold;
}
.temp {
  font-size: 100px;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 20px;
}
.weatherMain {
  font-size: 30px;
  font-weight: bold;
}

.mainAndIcon {
  display: flex;
}

.weatherIcon {
  margin: auto;
  width: 10rem;
}

.information {
  font-size: 1.7rem;
  font-weight: 200;
  color: rgb(14, 11, 11);
}
.warning {
  font-size: 1.7rem;
  font-weight: 200;
  color: black;
  background-color: rgba(228, 9, 9, 0.899);
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1rem;
}
